.secret {
    width: 252px;
    height: 106px;

    @include below($bt) {
        width: 176.4px;
        height: 74.2px;
    }
    img {
        width: auto !important;
        max-width: 100%;
        height: auto !important;
        max-height: 100%;
    }
}
